<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
"-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="MemberMapper">
 
	<resultMap id="resultMember" type="Member">
		<id property="id" column="ID" />
  		<result property="passwd" column="PASSWD"/>
  		<result property="name" column="NAME"/>
  		<result property="email" column="EMAIL"/>
  		<result property="gender" column="GENDER"/>
  		<result property="age" column="AGE"/>
  		<result property="phone" column="PHONE"/>
  		<result property="address" column="ADDRESS"/>
  		<result property="enrollDate" column="ENROLL_DATE"/>
	</resultMap>
	
	<select id="selectOne" parameterType="Member" resultMap="resultMember">
		SELECT * FROM MEMBER WHERE ID = #{id} and PASSWD = #{passwd}
	</select>
</mapper>
